header.header
	.wrap 
		.header__inner
			img(src="../../images/logo.svg")
			.nav
				ul.nav__list
					li.nav__item
						a(href="#").nav__link Продукт
					li.nav__item
						a(href="#").nav__link Схема работы
					li.nav__item
						a(href="#").nav__link Мероприятия
					li.nav__item
						a(href="#").nav__link Отзывы
					li.nav__item
						a(href="#").nav__link Вопросы и ответы
			button.callBtn Обратный звонок