section.product.s--h
    .wrap
        .row
            h2.section__title Продукт 
            p.section__descr.p--limited «Транзит 2.0» упрощает работу расчетного центра казначейства корпорации, обеспечивая прямую интеграцию с банками
        .row
            .flex__container
                .flex__item
                    img(src="", alt="")
                    h3 Надежность
                    p НРД — часть Группы Московской Биржи, равноудален от всех участников финансового рынка
                .flex__item
                    img(src="", alt="")
                    h3 Надежность
                    p НРД — часть Группы Московской Биржи, равноудален от всех участников финансового рынка
                .flex__item
                    img(src="", alt="")
                    h3 Надежность
                    p НРД — часть Группы Московской Биржи, равноудален от всех участников финансового рынка
                .flex__item
                    img(src="", alt="")
                    h3 Надежность
                    p НРД — часть Группы Московской Биржи, равноудален от всех участников финансового рынка
                .flex__item
                    img(src="", alt="")
                    h3 Надежность
                    p НРД — часть Группы Московской Биржи, равноудален от всех участников финансового рынка
                .flex__item
                    img(src="", alt="")
                    h3 Надежность
                    p НРД — часть Группы Московской Биржи, равноудален от всех участников финансового рынка