section.title
    .title__video
        video(autoplay muted loop)
            source(src="assets/video.mp4" type="video/mp4")
    .title__wrap
        .wrap
            .title__content
                h1 «ТРАНЗИТ 2.0»<br/>МУЛЬТИБАНКОВСКАЯ ТРАНЗАКЦИОННАЯ ПЛАТФОРМА ОТ НРД
                p Принцип «одного окна» позволяет казначейству любого холдинга эффективно обмениваться финансовой информацией с различными банками и контрагентами. Этот комплексный сервис сегодня используют уже десятки российских корпораций.
                .title__btns
                    button Получить консультацию
                    a(href="assets/presentation.pdf") Презентация