section.work.s--h
    .wrap
        .row
            h2.section__title Как это работает
            p.section__descr.p--limited Подключение к «Транзит 2.0» упрощает работу расчетного центра корпорации, обеспечивая прямую интеграцию с банками в режиме «одного окна».
        .row
            .scheme
                h3 Корпорация