doctype html
html
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
		title Национальный расчетный депозитарий
	body
		include includes/header
		include includes/title
		include includes/product
		include includes/video
		include includes/work