@import 'header'
@import 'section'
@import 'title'
@import 'product'

*
    margin: 0
    padding: 0
    box-sizing: border-box

@font-face {
    font-family: InterfaceCorp;
    src: url('../fonts/InterFace');
}

@font-face {
    font-family: EngravesGothic;
    src: url('../fonts/Engravers-Gothic');
}

body
    color: #000;
    font-family: InterfaceCorp,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;

.wrap
    max-width: 1280px
    margin: 0 auto