.header
    padding: 20px 0
    background-color #fff

.header__inner
    display: flex
    justify-content: space-between
    align-items: center

.nav__list
    list-style-type: none
    display: flex
    gap: 20px

.nav__link
    color: #7D878C
    text-decoration: none
    font-size: 16px
    line-height 16px
    font-weight: 400

.callBtn
    width: 240px
    height: 50px
    background-color: rgba(0,0,0,0)
    outline: none
    border: 2px solid #000
    font-size: 16px
    line-height 16px
    font-weight: 400
    cursor: pointer
    transition: all .2s

    &:hover
        background-color #000
        color: #fff