.product
    margin-bottom: 60px
    
    .section__descr
        margin-bottom: 30px

    .flex__container
        display: flex
        flex-wrap: wrap
        justify-content: center

        .flex__item
            width: 325px
            text-align: center
            min-width: 300px

@media screen and (min-width: 1190px)
    .product
        .flex__item
            padding: 0 6px;
            margin: 30px auto;