section
    .section__title
        font-size: 42px
        line-height: 52px
        font-weight: 700
        margin-top: 30px
        margin-bottom: 30px
        text-transform: uppercase
    .section__descr
        font-size: 20px
        line-height: 34px
        font-weight: 400
        margin-top: 20px
        margin-bottom: 20px
        color: #5e6064
    .p--limited
        max-width: 780px
.s--h
    padding-top: 30px