section.title
    min-height: calc(100vh - 180px)
    position: relative
    display: flex
    flex-direction: column
    justify-content: center

    .title__wrap
        width: 100%

    .title__video
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        overflow: hidden

        video
            position: absolute
            left: 50%
            bottom: -3%
            min-width: 120%
            min-height: 103%
            transform: translateX(-50%) rotateY(180deg)

    .title__content
        max-width: 650px

        h1
            font-size: 36px
            line-height: 42px
            font-weight: 700
            margin-top: 20px
            margin-bottom: 30px
            color: #fff
        p
            font-weight: 400
            margin-top: 20px
            margin-bottom: 20px
            color: hsla(0,0%,100%,.8)

        .title__btns
            button
                margin-right: 30px
                font-size: 16px
                font-weight: 400
                min-width: 240px
                min-height: 50px
                border: none
                color: #fff
                text-align: center
                vertical-align: middle
                background-color: #ce1126
                padding: 0 35px
                display: inline-block
                cursor: pointer
                transition: any .15s

                &:hover
                    background-color: #C32E40
